<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<%='Hello' %> <br>
<%='Hello' + 'World' %> <br>
<%=('Hello'*3) + 'World' %> <br>
<%= 'Hello'.concat('World')%>
<% some_text='Hello ' -%> <br>
<%= some_text.concat('World') %>

</body>
</html>
